@media screen and (max-width:1700px) and(min-width:1251px) {
  .Callsafespace{
    flex-direction: column;
    row-gap: 3em;
    align-items: center;
    width: 80%;
  }
}

@media screen and (min-width:1701px) {
  .Callsafespace{
    width: 60%;
  }
}
@media screen and (max-width:1250px) {
  .Callsafespace{
    flex-direction: column;
    row-gap: 3em;
    align-items: center;
    width: 100%;
  }
}



.Callsafespace {
  margin: 2.4em auto;
  display: flex;
  .call-right,
  .call-left {
    width: 50%;
  }
  .cardright,
  .cardleft {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 1.875em 0em 1.875em 1.6em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
  }
  .cardleft{
    width: 100%;
  }
  h2,
  p {
    margin-top: 0;
    text-align: start;
  }
  .negative {
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    /* identical to box height */

    color: #fe5a5a;
  }
  .positive {
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    /* identical to box height */

    color: #55aa37;
  }
  .details {
    p {
      font-size: 25px;
    }
  }
  .detailheading {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height */

    color: #358bee;
  }
}

.radio-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height */
  .radiobuttondiv {
    display: flex;
    align-items: center;
  }
  input {
    margin-top: 0%;
  }
  label {
    margin-left: 7px;
  }
}

.cardleft {
  margin-top: 1.125em;
  form {
    width: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .radio-options {
    width: 50%;
  }
  .riskradio {
    width: 100%;
  }
}

.callformtags {
  display: flex;
  align-items: center;
  width: 70%;
  margin-bottom: 1em;
  justify-content: space-between;
  label {
    text-align: start;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    color: #333333;
  }
  input {
    margin: 0;
  }
  .tagslabels {
    margin-left: 5%;
    font-size: 19px;
    color: #358bee;
  }
  .editbutton {
    display: flex;
    justify-content: end;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */

    color: #358bee;
  }

  .taginput {
    width: 1.5em;
    height: 1.5em;
  }

  .maintag {
    width: 30%;
  }
  .tags {
    width: 53%;
    padding: 10px;
    border: 1px solid #0f51a6;
    box-sizing: border-box;
    border-radius: 23px;
  }
}

.callform {
  display: flex;
  align-items: center;
  width: 70%;
  margin-bottom: 1em;
  label {
    text-align: start;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    color: #333333;
  }
  label,
  input {
    width: 50%;
  }
  input {
    outline: #0f51a6;
    border: 1px solid #0f51a6;
    width: 12.1em;
    height: 3.1em;
    border-radius: 23px;
  }
}

.riskradio {
  width: 100%;
  flex-direction: column;
  align-content: start;
  input,
  label {
    margin: 0;
    font-size: 19px;
  }
  label {
    margin-left: 5%;
    font-size: 19px;
    color: #358bee;
  }
  .radiobuttondiv {
    display: flex;
    justify-content: start;
    width: 100%;
  }
}

.risks {
  width: 53%;
  padding: 15px;
  border: 1px solid #0f51a6;
  box-sizing: border-box;
  border-radius: 23px;
}

.usertype {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  .userselectionlabel {
    width: 30%;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    color: #333333;
    text-align: start;
  }
  #usertype {
    width: 53%;
    border-radius: 23px;
    border: 1px solid #0f51a6;
    color: #333333;
  }
}

.usertable {
  width: 70%;
  padding: 15px;
  border-radius: 23px;
  border: 1px solid #0f51a6;
  .searchicon {
    width: 15%;
  }
  .search {
    width: 100%;
    height: 3em;
    input {
      height: 1.5em;
      width: 70%;
      font-size: 16px;
    }
  }
}

.usernametable{
  width: 100%;
  color: #666666;
  .head{
    background-color: #EFEFEF;
    color: #838383;
  }
  .username{
    text-align: start;
    padding-left: 1.4em;
  }
  .mobilenumber{
    text-align: end;
  }
}
